.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 0 0;
  padding: 10px 45px 10px 44px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 230px;
  padding: 10px 45px 10px 44px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 454px;
  padding: 10px 45px 10px 44px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 480px 0 auto;
  padding: 10px 45px 10px 44px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 256px 0 auto;
  padding: 10px 45px 10px 44px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 32px 60px auto;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-btn-2 {
    margin-left: 191px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 382px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 408px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 217px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 26px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 364px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -104px;
    margin-left: 364px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
    margin-left: 182px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 223px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-top: -42px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 40px;
    margin-left: 198px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 154px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -124px;
    margin-right: auto;
    margin-left: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -115px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 28px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -112px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 28px;
    margin-left: 0;
  }
}